################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FlightLog/.vs/FlightLog/v15
/src/FlightLog/ApplicationCore/obj
/.vs
/src/FlightLog/ApplicationCore/bin/Debug
/src/FlightLog/ApplicationCoreTests/bin/Debug
/src/FlightLog/ApplicationCoreTests/obj
/src/FlightLog/.vs/FlightLog/DesignTimeBuild
/src/FlightLog/ApplicationCoreUnitTests/bin/Debug/netcoreapp2.1
/src/FlightLog/ApplicationCoreUnitTests/obj
/src/FlightLog/ConsoleApp1/bin/Debug/netcoreapp2.0
/src/FlightLog/ConsoleApp1/obj
/src/FlightLog/GuardClauses/bin/Debug/netcoreapp2.1
/src/FlightLog/GuardClauses/obj
/src/FlightLog/Infrastructure/bin/Debug
/src/FlightLog/Infrastructure/obj
/src/FlightLog/Web/bin/Debug/netcoreapp2.1
/src/FlightLog/Web/obj
/src/FlightLog/.vs/FlightLog/v16/Server/sqlite3
/src/FlightLog/.vs/FlightLog/v16/.suo
/src/FlightLog/WebApi/obj
/src/FlightLog/WebApi/bin/Debug/netcoreapp2.1
/src/FlightLog/WebApi/WebApi.csproj.user
/src/FlightLog/.vs/FlightLog/v16/TestStore/0
/src/FlightLog/ApplicationCoreUnitTests/bin/Debug/netcoreapp3.1
/src/FlightLog/WebApi/bin/Debug/netcoreapp3.1
/src/FlightLog/IdentityServer/bin/Debug/netcoreapp3.1
/src/FlightLog/IdentityServer/obj
src/FlightLog/ApplicationCore/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.deps.json
src/FlightLog/ApplicationCore/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.dll
src/FlightLog/ApplicationCore/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.pdb
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/appsettings.Development.json
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/appsettings.json
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/AutoMapper.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.IdentityServer.deps.json
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.IdentityServer.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.IdentityServer.exe
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.IdentityServer.pdb
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.IdentityServer.runtimeconfig.dev.json
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.IdentityServer.runtimeconfig.json
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.IdentityServer.Views.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.IdentityServer.Views.pdb
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/IdentityModel.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/IdentityServer4.AspNetIdentity.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/IdentityServer4.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/IdentityServer4.EntityFramework.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/IdentityServer4.EntityFramework.Storage.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/IdentityServer4.Storage.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Data.SqlClient.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.Logging.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.Options.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.Identity.Client.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Newtonsoft.Json.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/System.Collections.Immutable.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/System.Runtime.Caching.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Properties/launchSettings.json
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Properties/serviceDependencies.app-is - Web Deploy.json
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/Properties/serviceDependencies.json
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/runtimes/win-x64/native/sni.dll
src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/runtimes/win-x86/native/sni.dll
src/FlightLog/IdentityServer/Properties/PublishProfiles/app-is - Web Deploy.pubxml
src/FlightLog/IdentityServer/Properties/PublishProfiles/app-is - Web Deploy.pubxml.user
src/FlightLog/IdentityServer/Properties/serviceDependencies.app-is - Web Deploy.json
src/FlightLog/IdentityServer/Properties/serviceDependencies.app-is - Web Deploy.json.user
src/FlightLog/IdentityServer/Properties/serviceDependencies.json
src/FlightLog/Infrastructure/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.dll
src/FlightLog/Infrastructure/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.pdb
src/FlightLog/Infrastructure/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.Infrastructure.deps.json
src/FlightLog/Infrastructure/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.Infrastructure.dll
src/FlightLog/Infrastructure/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.Infrastructure.pdb
src/FlightLog/Infrastructure/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.Infrastructure.runtimeconfig.dev.json
src/FlightLog/Infrastructure/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.Infrastructure.runtimeconfig.json
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/appsettings.Development.json
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/appsettings.json
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/AutoMapper.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.ApplicationCore.pdb
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.Infrastructure.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.Infrastructure.pdb
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/IdentityModel.AspNetCore.OAuth2Introspection.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/IdentityModel.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/IdentityServer4.AccessTokenValidation.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Https.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.CodeAnalysis.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Data.SqlClient.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.Logging.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.Options.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.Identity.Client.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Newtonsoft.Json.Bson.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Newtonsoft.Json.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/NuGet.Frameworks.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/System.Composition.AttributedModel.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/System.Composition.Convention.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/System.Composition.Hosting.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/System.Composition.Runtime.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/System.Composition.TypedParts.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/System.Runtime.Caching.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/WebApi.deps.json
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/WebApi.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/WebApi.exe
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/WebApi.pdb
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/WebApi.runtimeconfig.dev.json
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/WebApi.runtimeconfig.json
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Properties/launchSettings.json
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Properties/serviceDependencies.app-fl - Web Deploy.json
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/Properties/serviceDependencies.json
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/runtimes/win-x64/native/sni.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/runtimes/win-x86/native/sni.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
src/FlightLog/WebApi/bin/Release/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/FlightLog/FlightLog/.deployment
/src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1/runtimes
/src/FlightLog/IdentityServer/bin/Release/netcoreapp3.1
*.db-shm
*.db-wal
/src/FlightLog/BlazorUI/bin/Debug/net5.0
/src/FlightLog/BlazorUI/obj
/src/FlightLog/Shared/bin/Debug
/src/FlightLog/Shared/obj
/src/FlightLog/BlazorUI/bin/Debug/net6.0
/src/FlightLog/.vs/FlightLog/v17
/src/FlightLog/.vs/FlightLog/config/debuggerConfiguration-20237c31-3136-4b83-98c8-aa64c801eb5d.json
/src/FlightLog/BlazorUI - Copy
/src/FlightLog/FlightLogUI/bin/Debug
/src/FlightLog/FlightLogUI/obj
/src/FlightLog/ApplicationCore/bin/Release/netcoreapp3.1
/src/FlightLog/FlightLogUI/bin/Release/net6.0
/src/FlightLog/Infrastructure/bin/Release/netcoreapp3.1
/src/FlightLog/Shared/bin/Release/netcoreapp3.1/DukeSoftware.FlightLog.Shared..deps.json
/src/FlightLog/Shared/bin/Release/netcoreapp3.1
/src/FlightLog/WebApi/bin/Release/netcoreapp3.1
/src/FlightLog/FlightLogUI/Properties/PublishProfiles/flightlogapp - Web Deploy.pubxml.user
/src/FlightLog/WebApi/Properties/PublishProfiles/flightlogapi - Web Deploy.pubxml.user
/src/FlightLog/ApplicationCore/bin/Release/net6.0
/src/FlightLog/ApplicationCoreUnitTests/bin/Debug/net6.0
/src/FlightLog/ClassLibrary/bin/Debug/net6.0
/src/FlightLog/ClassLibrary/obj
/src/FlightLog/Infrastructure/bin/Release/net6.0
/src/FlightLog/InfrastructureBackup
/src/FlightLog/Shared/bin/Release/net6.0
/src/FlightLog/WebApi/app_data/models.csv
/src/FlightLog/WebApi/app_data/flightlog_prod_20220124.db
/src/FlightLog/WebApi/app_data/flightlog-test.db
/src/FlightLog/WebApi/app_data/flightlog-prod-20211203.db
/src/FlightLog/WebApi/app_data/flightlog-dev.db
/src/FlightLog/WebApi/app_data/flightlog-bad.db
/src/FlightLog/WebApi/app_data/flightlog - Copy.db
/src/FlightLog/WebApi/bin
/src/FlightLog/ClassLibrary
/src/FlightLog/WebApi/app_data/flightlog_prod_20220406.db
/src/FlightLog/.vs
/src/FlightLog/WebApi/app_data/flightlog_dev_latest.db
/src/FlightLog/WebApi/app_data/flightlog_prod_20220831.db
/src/FlightLog/WebApi/app_data/flightlog_prod_20230128.db
/src/FlightLog/ApplicationCoreUnitTests/bin/Debug/net9.0
/src/FlightLog/FlightLogUI/wwwroot/appsettings.json
/src/FlightLog/FlightLogUI/wwwroot/appsettings.Development.json
/src/FlightLog/WebApi/appsettings.json
/src/FlightLog/FlightLogUI - Copy
