################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FlightLog/.vs/FlightLog/v15
/src/FlightLog/ApplicationCore/obj
/.vs
