@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        @context.User.Identity?.Name
        [@context.User.FindFirst("https://flightlog.co.nz/claims/account_id")?.Value]
        <a href="#" @onclick="BeginLogOut">Log Out</a>

    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    public async Task BeginLogOut()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateToLogout("authentication/logout");
    }
}