    <form class="flight-form" [formGroup]="flightForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Model</mat-label>
            <mat-select [(ngModel)]="selectedModel" formControlName="modelId">
                <mat-option *ngFor="let model of models" [value]="model.Id">{{model.Name}}</mat-option>
            </mat-select> 
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Field</mat-label>
            <mat-select [(ngModel)]="selectedLocation" formControlName="locationId">
                <mat-option *ngFor="let location of locations" [value]="location.Id">{{location.Name}}</mat-option>
            </mat-select> 
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Pilot</mat-label>
            <mat-select [(ngModel)]="selectedPilot" formControlName="pilotId">
                <mat-option *ngFor="let pilot of pilots" [value]="pilot.Id">{{pilot.Name}}</mat-option>
            </mat-select> 
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Flight Minutes</mat-label>
            <input matInput type="number" formControlName="flightMinutes">
        </mat-form-field>
        <br />
        <mat-form-field class="input-full-width">
            <mat-label>Details</mat-label>
            <textarea matInput formControlName="details" rows="6"></textarea>
        </mat-form-field>
        <br />
        <button mat-stroked-button type="submit" [disabled]="!flightForm.valid">Save</button>
    </form>
    <p>{{message}}</p>
