.flight-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.input-full-width { 
    width: 100%;;
} 

.select-placeholder-container {
  display: flex;
  align-items: center;
}

.select-placeholder-container > span {
  flex: 1;
}

