/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

footer {
    font-size: x-small;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.mdc-top-app-bar--fixed-adjust {
  padding-top: 104px;
}
