<form class="flight-form" [formGroup]="flightFilterForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
    <mat-form-field>
        <mat-label>Date From</mat-label>
        <input matInput [matDatepicker]="fromPicker" formControlName="dateFrom">
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-label>Date To</mat-label>
        <input matInput [matDatepicker]="toPicker" formControlName="dateTo">
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-label *ngIf="isLoadingModels">
            <div class="select-placeholder-container">
                    <span>Loading...</span>
                <mat-spinner class="spinner" diameter="18"></mat-spinner>
            </div>
        </mat-label>
        <mat-label *ngIf="!isLoadingModels">Model</mat-label>
        <mat-select [(ngModel)]="selectedModel" formControlName="modelId">
            <mat-option *ngFor="let model of models" [value]="model.Id">{{model.Name}}</mat-option>
        </mat-select> 
        <mat-error *ngIf="modelLoadingError">Error loading models</mat-error>
    </mat-form-field>
    <br/>
    <button mat-stroked-button type="submit" [disabled]="!flightFilterForm.valid">Filter</button>
    <button mat-stroked-button type="reset" (click)="resetForm()">Reset</button>
</form>
<div *ngIf="flightSummary != null">
<p>Total Flights: {{flightSummary.TotalNumberOfFlights}}</p>
<p>Total Minutes: {{flightSummary.TotalFlightTimeMinutes}}</p>
<p>Average Flight: {{flightSummary.AverageFlightTimeMinutes}}</p>
<p *ngIf="flightSummary.FirstFlight">First Flight: {{flightSummary.FirstFlight + 'Z' | date }}</p>
<p *ngIf="flightSummary.LastFlight">Last Flight: {{flightSummary.LastFlight + 'Z' | date}}</p>
</div>
<p>{{message}}</p>